<h2> List of faculties</h2>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Student-managment</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-light p-3">
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">:)</th>
            <th scope="col">Faculty_name</th>
            <th scope="col">Subject</th>
         
          </tr>
        </thead>
        <tbody>
          {% for f in faculty%}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
             <td>{{f.faculty_name}}</td>
               {% for subject in f.subject.all %}
            <td>{{subject.subject_name }}</td>
                {% endfor %}
           
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
  </body>
</html>

